@theme{

    --color-primary-orange-500: #FB7312;

    --color-neutral-white: #FFFFFF;
    --color-neutral-grey-500: #A1A7B3;
    --color-neutral-grey-900: #252D37;
    --color-neutral-grey-950: #121417;
}